<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">My Profile</h4>
                  </div>
                  <div class="card-body">
                      <form [style.fontSize.px]="16">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Current Position" readonly value="Software developer at SAP">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" readonly value="manus.duggan@sap.com">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" readonly value="Manus">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" readonly value="Duggan">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text" readonly value="7 kirwans lane kirwans court">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text" readonly value="Galway">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text" readonly value="Ireland">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Date of Birth " type="text" readonly value="28th June 1995 ">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Known Languages " type="text" readonly value="English">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nationality" type="text" readonly value="Irish">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Hobbies " type="text" readonly value="Gaming, Fitness.">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="GitHub Personal" type="text" readonly value="github.com/mysterydeveloper ">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Facebook Page " type="text" readonly value="www.facebook.com/manusdugganGaming">
                              </mat-form-field>
                            </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Software developer</h6>
                      <h6 class="card-category text-gray">MOBILE NO: 086-8739213 </h6>                      
                      <h4 class="card-title">Manus Duggan</h4>
                      <p class="card-description">
                        A versatile and professional software developer with a commitment to and experience of developing state-of-the-art and creative software solutions. I am actively getting involved in open source projects and designing 
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
